#slide {
    height: 300px;
  }
  .slideimg {
    height: 100%;
    margin: auto;
  }
  #navdiv {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
  }
  #navdiv > div {
    width: 250px;
    height: 60px;
    margin: 30px auto;
    text-align: center;
    border: 1px solid rgb(189, 125, 7);
  }
  #navdiv > div:hover {
    border: none;
    box-shadow: rgba(189, 125, 7, 0.1) 0px 14px 26px -1px,
      rgba(189, 125, 7, 0.06) 0px 12px 24px -1px;
  }
 
  #special {
    /* border: 1px solid red; */
    padding: 1%;
    margin: 40px auto;
    font-size: 13px;
    background-color: rgb(245, 244, 244);
  }
  #special > div {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    height: 350px;
    justify-content: space-around;
    align-items: center;
  }
  .special1 {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    height: 300px;
    padding: 5%;
    background-color: white;
  }
  .special1 > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  /* .indexcart {
    position: relative;
    display: none;
   position: absolute; 

    height: 35px;
    width: 100px;
    background-color: orange;
    border: 0ch;
    color: white;
    border-radius: 4px;
  } */
  /* .indexcart:hover {
    background-color: rgba(19, 23, 27, 0.8);
  }
  .special1 > div:hover .indexcart {
    display: block;
  } */
    .strikep{
      text-decoration: line-through;
    }
  #trending {
    /* border: 1px solid red; */
    padding: 1%;
    margin: 40px auto;
    font-size: 13px;
    background-color: rgb(245, 244, 244);
  }
  #trending > div {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    height: 350px;
    justify-content: space-around;
    /* align-items: center; */
  }
  .trending1 {
    box-shadow: rgba(5, 5, 31, 0.25) 0px 13px 27px -5px,
      rgba(77, 7, 7, 0.3) 0px 8px 16px -8px;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    height: 300px;
    padding: 5%;
    background-color: white;
  }
  .trending1 > div {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    gap: 10px;
    justify-content: space-between;
    align-items: center;
   
  }
 
  #unlock {
    display: grid;
    grid-template-columns: 20% 70%;
    width: 70%;
    background-color: rgb(240, 233, 233);
    gap: 30px;
    padding: 2%;
    margin: 30px auto;
  }
  #unlock > div {
    height: 300px;
  }
  #unlock > div > img {
    height: 100%;
    width: 100%;
  }

  .atindex{
    color: black;   
    text-decoration: none;
  }
  .atindex:hover{
    color: orange;
    text-decoration: none;
  }

  